<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.widget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Widget">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".widget.SimpleWidgetProvider">
            <intent-filter>
                <!--这个必须声明-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!--这个和SimpleWidgetProvider中的CLICK_ACTION对应-->
                <action android:name="com.barry.widgetapp.CLICK"/>
            </intent-filter>
            <!--指定AppWidgetProviderInfo资源XML文件-->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidger_provider" />
        </receiver>

    </application>

</manifest>